body {
    margin: 0;
    /*font-family: Arial, sans-serif;*/
    font-family: Helvetica;
    background-color: #f9fafb;
    color: #333;
    line-height: 1.6;
}

.side {
    display: flex;
    min-height: 100vh;
}

header {
    flex: 0 0 350px;
    height: 100%;
    /*background: #a47864;*/
    background: white;
    color: white;
    text-align: right;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.12rem;
}

    header.logofoto {
        background-color: red;
        margin: 0;
        text-align: right;
    }

    header .logofoto img {
        display: inline-block;
    }

header h1 {
    margin: 0;
    width: 100%;
}

main {
    flex: 1;
    max-width: 100%;
    margin-left: 0,5rem;
    margin-right: 0,5rem;
    padding: 0 1rem;
}

    main h1 {
        text-align: center;
    }

.swiper {
    width: 60%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 2; /* domyœlnie ukryte */
    transition: opacity 1s ease; /* p³ynne przejœcie */
}

    .swiper-slide img {
        width: 50%;
        height: 50%;
        object-fit: cover; /* obraz wype³nia ca³y obszar */
    }

swiper-slide-visible{
    justify-content:center;
}

img {
    margin-top: 4%;
}

nav {
    align-items: center;
}

header nav {
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
}

    header nav a {
        display: block;
        color: #000;
        padding: 4px 4px;
        text-decoration: none;
        font-size:95%;
    }

    /* Change the link color on hover */
        header nav a:hover {
            background-color: #f1f1f1;
            color: #a47864;
        }

h2 {
    color: #a47864;
}

.about {
    max-width: 1000px;
    margin-top: 105px;
    margin-bottom: 2rem;
    background: white;
    padding: 1.5rem;
    border: solid;
    border-block-color: black;
}

.product {
    max-width: 1000px;
    margin-top: 139px;
    margin-bottom: 2rem;
    background: white;
    padding: 1.5rem;
    border: solid;
    border-block-color: black;
}

.contact {
    max-width: 1000px;
    margin-top: 174px;
    margin-bottom: 2rem;
    background: white;
    padding: 1.5rem;
    border: solid;
    border-block-color: black;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 0.5rem;
}

a {
    color: #a47864;
    text-decoration: none;
    word-wrap: anywhere;
}

a:hover {
  text-decoration: underline;
}


footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  background: #f1f5f9;
  font-size: 0.9rem;
  color: #555;
}



@media (max-width: 768px){
    .side {
        flex-direction: column;
    }
    header {
        width: 100%;
    }
        header nav {
            text-align: center;
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: white;
        }

            header nav a {
                display: block;
                color: #000;
                padding: 4px 4px;
                text-decoration: none;
                font-size: 95%;
            }

        header .logofoto {
            text-align: center;
        }
            header .logofoto img {
                display: inline-block;
                max-width: 100%;
                height: auto;
            }
}